{% extends "_root.html" %}

{% block body %}
{% block header %}
<header>
  <div id="BlogTitle"><a href="{{ url_for('index') }}">{{ meta.Site.Name }}</a></div>
  <div id="PageMeta" class="Discrete">{% block pagemeta %}{% endblock %}</div>
  <nav id="MainNav">
    <ul>
      <li{% if meta.PageTitle == "" %} class="CurrentPage" {% endif %}>
        <a href="{{ url_for('index') }}">Blog</a>
      </li>
      <li{% if meta.PageTitle == "About" %} class="CurrentPage" {% endif %}>
        <a href="{{ url_for('htmlPage', page='about') }}">About</a>
      </li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block main %}{% endblock %}

{% block footer %}
<footer class="Discrete">Made by Darksair
 with Flask + Flask-FlatPages + Frozen-Flask.
<a href="{{ url_for('feed') }}">Feed</a>
</footer>
{% endblock %}
{% endblock %}
