{% extends "_root.html" %}

{% block body %}
{% block header %}
<header>
  <div id="BlogTitle"><a href="{{ url_for('index') }}">{{ config.SITE_NAME }}</a></div>
  <div id="PageMeta" class="Discrete">{% block pagemeta %}{% endblock %}</div>
  <nav id="MainNav">
    <ul>
      <li{% if meta.PageTitle == "" %} class="CurrentPage" {% endif %}>
        <a href="{{ url_for('index') }}">Blog</a>
      </li>
      <li{% if meta.PageTitle == "About" %} class="CurrentPage" {% endif %}>
        <a href="{{ url_for('htmlPage', page='about') }}">About</a>
      </li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block main %}{% endblock %}

{% block footer %}
<footer class="Discrete">Made by Darksair
 with <a href="http://flask.pocoo.org/">Flask</a>
 + <a href="http://packages.python.org/Flask-FlatPages/">Flask-FlatPages</a>
 + <a href="http://packages.python.org/Frozen-Flask/">Frozen-Flask</a>.
<!-- <a href="{{ url_for('index') }}/atom.xml">Feed</a> -->
</footer>
{% endblock %}
{% endblock %}
