{% extends "_main.html" %}
{% block content %}
<article>
<div class="PostHeader">
  <h1 class="PostTitle">{{ page.title }}</h1>
  <div class="PostMeta"><time pubdate>{{ page.created }}</time>,
    by {{ meta.Site.Author }}{% if page.categories %}, under
    {% for Category in page.categories %}
        {% if loop.last %}
          <a href="{{ url_for('category', cat=Category) }}">{{ Category }}</a>
        {% else %}
          <a href="{{ url_for('category', cat=Category) }}">{{ Category }}</a>,
        {% endif %}
    {% endfor %}
   {% endif %}
  </div>
</div>

<div class="PostText">

{% block article %}
{{ page.html|safe }}
{% endblock %}

</div>
</article>

{% endblock %}

