$UrlPrefix: /blog;

/* Define colors */
$Grey: #bab5ab;
$Brown: #b38860;
$Red: #dd4e0c;
$Blue: #588589;
$Green: #9aaa79;
$Purple: #c198b3;
$White: #f5f4f0;
$Black: #110600;

/* Define fonts */
$SansFallback: "Helvetica Neue", Helvetica, Arial, "Source Han Sans SC", "Noto Sans CJK SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Microhei", "Droid Sans Fallback", sans-serif;
$Sans: Futura, $SansFallback;
$Serif: Mate, Palatino, STZhongsong, "Songti SC", serif;
$Monospace: "Source Code Pro", Inconsolata, Consolas, "Lucida Console", monospace;
$MainText: Lato, $SansFallback;

$ColorBG: $White;
$ColorFG: $Black;
$ColorLink: $Red;
$FontSizeBase: 15pt;
$WidthPageNormal: 500pt;
